<div class="jobSearchPage">
  <div class="card">
    <h2 class="text-center p-3">Search Jobs</h2>
    <div class="row p-3 searchGird">
      <div class="col-md-5">
        <div class="form-group">
          <label for="email">Experience:</label>
          <select class="form-control" id="sel1" (change)=(sortByExperience($event))>
            <option value="all" selected>Select Experience</option>
            <option value="Fresher">Fresher</option>
            <option value="0 to 2 Yrs">Intermediate</option>
            <option value="8-13 yrs">Professional</option>
          </select>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="email">Location:</label>
          <select class="form-control" id="sel2" (change)=(sortByLocation($event))>
            <option value="all" selected>Select Location</option>
            <option *ngFor="let location of locations">{{location}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 text-center m-auto">
        <button class="btn btn-success" (click)=(searchData())>Search</button>
      </div>
    </div>
  </div>
  <div class="card my-5 jobListingCard">
    <h2 class="text-center p-3">Jobs Listings</h2>
    <div class="row p-3 m-0">
      <div class="col-md-2">
        <input type="text" class="form-control" [(ngModel)]="companyFilter.companyname"
          placeholder="Filter by Company Name">
      </div>
      <div class="col-md-10">
        <div class="row m-0 mb-3">
          <div class="col-md-5">
            <p>Total Jobs: {{jobs.length}}</p>
          </div>
          <div class="col-md-7 text-right m-auto">
            <button class="btn btn-secondary mr-2">Sort by Location</button>
            <button class="btn btn-secondary ml-2">Sort by Experience</button>
          </div>
        </div>
        <div class="row fixedRow m-0">
          <div class="col-md-6 col-lg-4 my-2" *ngFor="let jobs of jobs | filterBy: companyFilter ; let i = index">
            <div class="jobs">
              <p>JobTitle: {{jobs.title}}</p>
              <p>Company: {{jobs.companyname}}</p>
              <p>Location: {{jobs.location}}</p>
              <p>Salary: {{jobs.salary}}</p>
              <p>Type: {{jobs.type}}</p>
              <p>Start Date: {{jobs.startdate}}</p>
              <p>End Date: {{jobs.enddate}}</p>
              <p>Apply Link: {{jobs.applylink}}</p>
              <p>Source: {{jobs.source}}</p>
            </div>
          </div>
          <h1 *ngIf="(jobs | filterBy: companyFilter).length === 0">No Data Found</h1>
        </div>

      </div>
    </div>
  </div>
</div>